<style>
    .foot {
        position: relative;
        color: rgb(255, 255, 255);
        background-color: #2781c6;
        height: 136px;
        width:100%;
    }
    .foot ul {
        width: 400px;
        margin:0 auto;
        height: 70px;
        margin-top: 10px;
    }
    .foot ul li {
        list-style: none;
        text-align: center;
        padding-top: 10px;
    }
</style>
<div class="foot">
    <ul>
        <li>版权所有：江苏省盐城市机器人学会</li>
        <li>网站维护：江苏省盐城师范学院 联系电话：18816230095</li>
        <li>苏ICP备17070104号</li>
    </ul>
</div>