<style>
    #banner{
        position: relative;
        width: 446px;
        height: 284px;
        border:1px solid #000;
    }
</style>
<div id="banner">

    <script src="scripts/script.min.js"></script>
</div>